@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap");

html,
body {
  height: 100%;
}

body {
  background-image: url("../src/img/back.png");
  font-family: "Noto Serif KR", serif;
  color: black;
  margin: 0;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

#menu-bar {
  text-align: center;
  border-bottom: 3px double black;
  padding: 1rem;
}

/* #menu-bar > div {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
} */

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  transition: 0.3s ease-in-out;
  color: #9ba4b5;
}

footer {
  min-height: 3.5vh;
  display: grid;
  place-items: center;
  border-top: 2.5px double black;
  position: relative;
  transform: translatY(-100%);
}

p {
  font-size: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  /* float: right; */
  font-weight: bold;
  color: white;
  font-size: 17px;
  border: none;
  /* padding: 10px 20px; */
  padding-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* css 분명 간소화 가능 */
