@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap");

html body {
  height: 100vh;
  background-image: url("../src/img/back.png");
  font-size: 20px;
}

* {
  font-family: "Noto Serif KR", serif;
  color: black;
  margin: 0;
}

#menu-bar {
  display: flex;
  align-items: baseline;
  border-bottom: 3px double black;
  padding: 1em;
}

.menu-item-1 {
  flex-grow: 2;
}

.menu-item-2 {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

section a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

a:hover {
  transition: 0.3s ease-in-out;
  color: #9ba4b5;
}

section {
  display: flex;
  min-height: 80vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.posting {
  flex-grow: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.contents {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

footer {
  min-height: 3.5vh;
  display: grid;
  place-items: center;
  border-top: 2.5px double black;
  position: relative;
}

p {
  font-size: 10px;
  text-align: center;
}
