<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/content.css" />
    <title>한 줄, 회고</title>
  </head>
  <body>
    <body>
      <nav id="menu-bar">
        <div class="menu-item-1">
          <a href="/">한 줄, 회고</a>
        </div>
      </nav>
      <div class="wrapper">
        <ul id="data-list"></ul>
      </div>
      <footer>retrospect</footer>
      <script src="../static/js/content.js"></script>
    </body>
  </body>
</html>
