<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>한 줄, 회고</title>
  </head>
  <body>
    <nav id="menu-bar">
      <div class="menu-item-1">
        <a href="/">한 줄, 회고</a>
      </div>
      <div class="menu-item-2" width="50px" height="30px">
        <a href="#" id="user-info">마이페이지</a>
        <a href="#" id="login">{{ user }}</a>
      </div>
    </nav>
    <section>
      <article id="posting">
        <a href="#">Posting</a>
      </article>
      <article id="contents">
        <a href="/#">View Contents</a>
      </article>
    </section>
    <footer>
      <span>retrospect</span>
      <span>sayyyho</span>
    </footer>
    <script src="../static/js/index.js"></script>
  </body>
</html>
