<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/post.css" />
    <title>한 줄, 회고</title>
  </head>
  <body>
    <nav id="menu-bar">
      <a href="/">한 줄, 회고</a>
    </nav>
    <section>
      <input
        type="text"
        class="title-input"
        placeholder="제목을 년/월/일 순으로 기입해주세요.."
      />
      <input
        type="text"
        class="content-input"
        placeholder="한 줄 회고를 입력해주세요..."
      />
      <button class="submit-button">작성 완료</button>
    </section>
    <footer>
      <p>Copyright 2023. sayyyho. All rights reserved.</p>
    </footer>
    <script src="../static/js/post.js"></script>
  </body>
</html>
