<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project:회고</title>
    <link rel="stylesheet" href="../static/css/user.css" />
  </head>
  <body>
    <nav id="menu-bar">
      <div class="menu-item-1">
        <a href="/">한 줄, 회고</a>
      </div>
    </nav>
    <div class="wrapper">
      <div class="item">
        <h2>반갑습니다 <span class="greeting"></span>님!</h2>
        User : <span id="email">{{ email }}</span>
        <br />
        포스팅 횟수 : <span id="count-posting"></span>
      </div>
    </div>
    <footer>retrospect</footer>
    <script src="../static/js/user.js"></script>
  </body>
</html>
